<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Events</name>
    <events>
        <variable comment="Check if Foca is dead" constant="0" name="isDead" sid="434797337980951" static="0" type="number">0</variable>
        <variable constant="0" name="CollisionRed" sid="198808840494661" static="0" type="number">0</variable>
        <variable constant="0" name="Score" sid="946808143519531" static="0" type="number">0</variable>
        <event-group description="" sid="141462722508340" title="Game">
            <sub-events>
                <event-group description="" sid="313500334235441" title="Game Initial">
                    <sub-events>
                        <event-block sid="354189458073890">
                            <conditions>
                                <condition id="-2" name="On start of layout" sid="603290573652289" type="System" />
                            </conditions>
                            <actions>
                                <action id="0" name="Play" sid="461347463279912" type="Audio">
                                    <param id="0" name="Audio file">Aplausos Efecto de Sonido</param>
                                    <param id="2" name="Loop">0</param>
                                    <param id="3" name="Volume">0</param>
                                    <param id="1" name="Tag (optional)">&quot;aplausos&quot;</param>
                                </action>
                                <action id="0" name="Play" sid="471612030994819" type="Audio">
                                    <param id="0" name="Audio file">Foca da Meia-Noite - Sweet Child O´ Mine</param>
                                    <param id="2" name="Loop">1</param>
                                    <param id="3" name="Volume">50</param>
                                    <param id="1" name="Tag (optional)">&quot;&quot;</param>
                                </action>
                                <action id="-16" name="Wait" sid="507855332766914" type="System">
                                    <param id="0" name="Seconds">5.0</param>
                                </action>
                                <action id="6" name="Stop" sid="600892402710098" type="Audio">
                                    <param id="0" name="Tag">&quot;aplausos&quot;</param>
                                </action>
                            </actions>
                        </event-block>
                    </sub-events>
                </event-group>
                <event-group description="" sid="531162933465761" title="Game Over and Restart">
                    <sub-events>
                        <event-block sid="881008726852610">
                            <conditions>
                                <condition id="-14" name="Compare variable" sid="300624366442131" type="System">
                                    <param id="0" name="Variable">CollisionRed</param>
                                    <param id="1" name="Comparison">0</param>
                                    <param id="2" name="Value">3</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="33" name="Stop all" sid="662026922147171" type="Audio" />
                                <action id="-15" name="Set visible" sid="538695006394712" type="GameOver">
                                    <param id="0" name="Visibility">1</param>
                                </action>
                                <action id="-15" name="Set visible" sid="849695004459479" type="BackgroundGameOver">
                                    <param id="0" name="Visibility">1</param>
                                </action>
                                <action behavior="Sine" id="0" name="Set active" sid="807547952834111" type="NotasMusicais">
                                    <param id="0" name="State">0</param>
                                </action>
                                <action behavior="Platform" id="11" name="Set enabled" sid="740792272531549" type="Foca">
                                    <param id="0" name="State">0</param>
                                </action>
                                <action id="2" name="Stop" sid="735587851018899" type="Foca" />
                                <action behavior="Bullet" id="0" name="Set speed" sid="610187616760818" type="nota02">
                                    <param id="0" name="Speed">0</param>
                                </action>
                                <action behavior="Bullet" id="0" name="Set speed" sid="921451748186995" type="nota03">
                                    <param id="0" name="Speed">0</param>
                                </action>
                                <action behavior="Bullet" id="0" name="Set speed" sid="884266221559478" type="nota04">
                                    <param id="0" name="Speed">0</param>
                                </action>
                                <action behavior="Bullet" id="0" name="Set speed" sid="485421773458753" type="nota05">
                                    <param id="0" name="Speed">0</param>
                                </action>
                                <action behavior="Bullet" id="0" name="Set speed" sid="742553451140778" type="nota06">
                                    <param id="0" name="Speed">0</param>
                                </action>
                                <action id="-16" name="Wait" sid="652495301835497" type="System">
                                    <param id="0" name="Seconds">2.0</param>
                                </action>
                                <action id="-21" name="Reset global variables" sid="551204549438813" type="System" />
                                <action id="-15" name="Set visible" sid="668496776502851" type="GameOver">
                                    <param id="0" name="Visibility">0</param>
                                </action>
                                <action id="-15" name="Set visible" sid="160897271802208" type="BackgroundGameOver">
                                    <param id="0" name="Visibility">0</param>
                                </action>
                                <action id="-2" name="Go to layout" sid="483982246316456" type="System">
                                    <param id="0" name="Layout">StartScreen</param>
                                </action>
                            </actions>
                        </event-block>
                    </sub-events>
                </event-group>
            </sub-events>
        </event-group>
        <event-group description="" sid="263293811479270" title="Foca">
            <sub-events>
                <event-group description="" sid="309266706958283" title="Moviment Foca">
                    <sub-events>
                        <event-block sid="626977091073605">
                            <conditions>
                                <condition id="0" name="On key pressed" sid="660768420918900" type="Keyboard">
                                    <param id="0" name="Key">32 (Space)</param>
                                </condition>
                                <condition id="-14" name="Compare variable" sid="288334314157718" type="System">
                                    <param id="0" name="Variable">isDead</param>
                                    <param id="1" name="Comparison">0</param>
                                    <param id="2" name="Value">0</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action behavior="Platform" id="9" name="Set vector Y" sid="309173288483101" type="Foca">
                                    <param id="0" name="Vector Y">-650</param>
                                </action>
                            </actions>
                        </event-block>
                    </sub-events>
                </event-group>
            </sub-events>
        </event-group>
        <event-group description="" sid="907505151996771" title="Cifras">
            <sub-events>
                <event-group description="" sid="443654268589513" title="Moviment Cifras">
                    <sub-events>
                        <event-block sid="343301726253699">
                            <conditions>
                                <condition id="-6" name="Every X seconds" sid="222657162208706" type="System">
                                    <param id="0" name="Interval (seconds)">int(random(4,8))</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-3" name="Create object" sid="522510304731722" type="System">
                                    <param id="0" name="Object to create">nota01</param>
                                    <param id="1" name="Layer">&quot;Background&quot;</param>
                                    <param id="2" name="X">700</param>
                                    <param id="3" name="Y">int(random(100,120))</param>
                                </action>
                            </actions>
                        </event-block>
                        <event-block sid="117700540535502">
                            <conditions>
                                <condition id="-6" name="Every X seconds" sid="640875619001690" type="System">
                                    <param id="0" name="Interval (seconds)">int(random(5,9))</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-3" name="Create object" sid="187500570896347" type="System">
                                    <param id="0" name="Object to create">nota02</param>
                                    <param id="1" name="Layer">&quot;Background&quot;</param>
                                    <param id="2" name="X">700</param>
                                    <param id="3" name="Y">int(random(150,160))</param>
                                </action>
                            </actions>
                        </event-block>
                        <event-block sid="360159608908209">
                            <conditions>
                                <condition id="-6" name="Every X seconds" sid="494879141131908" type="System">
                                    <param id="0" name="Interval (seconds)">int(random(6,10))</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-3" name="Create object" sid="562652911700509" type="System">
                                    <param id="0" name="Object to create">nota03</param>
                                    <param id="1" name="Layer">&quot;Background&quot;</param>
                                    <param id="2" name="X">700</param>
                                    <param id="3" name="Y">int(random(190,200))</param>
                                </action>
                            </actions>
                        </event-block>
                        <event-block sid="319193760391448">
                            <conditions>
                                <condition id="-6" name="Every X seconds" sid="334698192775947" type="System">
                                    <param id="0" name="Interval (seconds)">int(random(7,11))</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-3" name="Create object" sid="885184370112935" type="System">
                                    <param id="0" name="Object to create">nota04</param>
                                    <param id="1" name="Layer">&quot;Background&quot;</param>
                                    <param id="2" name="X">700</param>
                                    <param id="3" name="Y">int(random(240,320))</param>
                                </action>
                            </actions>
                        </event-block>
                        <event-block sid="679342126145745">
                            <conditions>
                                <condition id="-6" name="Every X seconds" sid="236358506738586" type="System">
                                    <param id="0" name="Interval (seconds)">int(random(7,11))</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-3" name="Create object" sid="775315283270905" type="System">
                                    <param id="0" name="Object to create">nota04</param>
                                    <param id="1" name="Layer">&quot;Background&quot;</param>
                                    <param id="2" name="X">700</param>
                                    <param id="3" name="Y">360</param>
                                </action>
                            </actions>
                        </event-block>
                        <event-block sid="122827134380768">
                            <conditions>
                                <condition id="-6" name="Every X seconds" sid="973986718846440" type="System">
                                    <param id="0" name="Interval (seconds)">int(random(7,11))</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-3" name="Create object" sid="683510030373402" type="System">
                                    <param id="0" name="Object to create">nota05</param>
                                    <param id="1" name="Layer">&quot;Background&quot;</param>
                                    <param id="2" name="X">700</param>
                                    <param id="3" name="Y">int(random(270,280))</param>
                                </action>
                            </actions>
                        </event-block>
                        <event-block sid="521690042327807">
                            <conditions>
                                <condition id="-6" name="Every X seconds" sid="295598058530001" type="System">
                                    <param id="0" name="Interval (seconds)">int(random(2,6))</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-3" name="Create object" sid="557280775791950" type="System">
                                    <param id="0" name="Object to create">nota06</param>
                                    <param id="1" name="Layer">&quot;Background&quot;</param>
                                    <param id="2" name="X">700</param>
                                    <param id="3" name="Y">360</param>
                                </action>
                            </actions>
                        </event-block>
                        <event-block sid="224797784467244">
                            <conditions>
                                <condition id="-6" name="Every X seconds" sid="307567311357202" type="System">
                                    <param id="0" name="Interval (seconds)">1.0</param>
                                </condition>
                            </conditions>
                            <actions />
                        </event-block>
                    </sub-events>
                </event-group>
                <event-group description="" sid="623676177487047" title="Score">
                    <sub-events>
                        <event-block any="1" sid="494163981525895">
                            <conditions>
                                <condition id="0" name="On collision with another object" sid="145625347395047" type="Foca">
                                    <param id="0" name="Object">nota01</param>
                                </condition>
                                <condition id="0" name="On collision with another object" sid="410408333955827" type="Foca">
                                    <param id="0" name="Object">nota02</param>
                                </condition>
                                <condition id="0" name="On collision with another object" sid="934297184307282" type="Foca">
                                    <param id="0" name="Object">nota05</param>
                                </condition>
                                <condition id="0" name="On collision with another object" sid="132376110926191" type="Foca">
                                    <param id="0" name="Object">nota06</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-10" name="Add to" sid="123461971191408" type="System">
                                    <param id="0" name="Variable">Score</param>
                                    <param id="1" name="Value">10</param>
                                </action>
                                <action id="-5" name="Set width" sid="428790948209677" type="ProgressIncrement">
                                    <param id="0" name="Width">Score</param>
                                </action>
                            </actions>
                        </event-block>
                        <event-group description="" sid="734157200769481" title="Collision with Red" />
                        <event-block any="1" sid="139643600384665">
                            <conditions>
                                <condition id="0" name="On collision with another object" sid="924046494745512" type="Foca">
                                    <param id="0" name="Object">nota04</param>
                                </condition>
                                <condition id="0" name="On collision with another object" sid="972825082589746" type="Foca">
                                    <param id="0" name="Object">nota03</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-10" name="Add to" sid="466557822255398" type="System">
                                    <param id="0" name="Variable">CollisionRed</param>
                                    <param id="1" name="Value">1</param>
                                </action>
                                <action id="0" name="Play" sid="870239013474933" type="Audio">
                                    <param id="0" name="Audio file">Som VAIAS</param>
                                    <param id="2" name="Loop">0</param>
                                    <param id="3" name="Volume">0</param>
                                    <param id="1" name="Tag (optional)">&quot;vaias&quot;</param>
                                </action>
                                <action id="-16" name="Wait" sid="763911221026809" type="System">
                                    <param id="0" name="Seconds">1.5</param>
                                </action>
                                <action id="6" name="Stop" sid="592037478322952" type="Audio">
                                    <param id="0" name="Tag">&quot;vaias&quot;</param>
                                </action>
                            </actions>
                        </event-block>
                    </sub-events>
                </event-group>
                <event-group description="" sid="459131495471962" title="Destroy">
                    <sub-events>
                        <event-block sid="894990579783557">
                            <conditions>
                                <condition id="0" name="On collision with another object" sid="129467885746340" type="nota01">
                                    <param id="0" name="Object">Foca</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-9" name="Destroy" sid="890879603897746" type="nota01" />
                            </actions>
                        </event-block>
                        <event-block sid="105439915835611">
                            <conditions>
                                <condition id="0" name="On collision with another object" sid="717510122468493" type="nota02">
                                    <param id="0" name="Object">Foca</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-9" name="Destroy" sid="630861892236536" type="nota02" />
                            </actions>
                        </event-block>
                        <event-block sid="122840916373619">
                            <conditions>
                                <condition id="0" name="On collision with another object" sid="577011917239346" type="nota03">
                                    <param id="0" name="Object">Foca</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-9" name="Destroy" sid="457713765970512" type="nota03" />
                            </actions>
                        </event-block>
                        <event-block sid="784880597610914">
                            <conditions>
                                <condition id="0" name="On collision with another object" sid="907401179310496" type="nota04">
                                    <param id="0" name="Object">Foca</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-9" name="Destroy" sid="377969307551502" type="nota04" />
                            </actions>
                        </event-block>
                        <event-block sid="999754733275253">
                            <conditions>
                                <condition id="0" name="On collision with another object" sid="373315937830881" type="nota05">
                                    <param id="0" name="Object">Foca</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-9" name="Destroy" sid="545958518298828" type="nota05" />
                            </actions>
                        </event-block>
                        <event-block sid="393470835868890">
                            <conditions>
                                <condition id="0" name="On collision with another object" sid="996073365539635" type="nota06">
                                    <param id="0" name="Object">Foca</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-9" name="Destroy" sid="987037302961379" type="nota06" />
                            </actions>
                        </event-block>
                    </sub-events>
                </event-group>
            </sub-events>
        </event-group>
        <event-block sid="246541036169711">
            <conditions />
            <actions />
        </event-block>
        <event-block sid="495800702436214">
            <conditions>
                <condition id="-14" name="Compare variable" sid="385365663898326" type="System">
                    <param id="0" name="Variable">Score</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">240</param>
                </condition>
            </conditions>
            <actions>
                <action id="0" name="Play" sid="677359562439541" type="Audio">
                    <param id="0" name="Audio file">Aplausos Efecto de Sonido</param>
                    <param id="2" name="Loop">0</param>
                    <param id="3" name="Volume">0</param>
                    <param id="1" name="Tag (optional)">&quot;&quot;</param>
                </action>
                <action disabled="1" id="-15" name="Set visible" sid="353739202981626" type="GameOver">
                    <param id="0" name="Visibility">1</param>
                </action>
                <action id="-15" name="Set visible" sid="976117569497002" type="BackgroundGameOver">
                    <param id="0" name="Visibility">1</param>
                </action>
                <action behavior="Sine" id="0" name="Set active" sid="584039639375266" type="NotasMusicais">
                    <param id="0" name="State">0</param>
                </action>
                <action behavior="Platform" id="11" name="Set enabled" sid="491609097393628" type="Foca">
                    <param id="0" name="State">0</param>
                </action>
                <action id="2" name="Stop" sid="936173459286323" type="Foca" />
                <action behavior="Bullet" id="0" name="Set speed" sid="702348375964781" type="nota02">
                    <param id="0" name="Speed">0</param>
                </action>
                <action behavior="Bullet" id="0" name="Set speed" sid="433171229433548" type="nota03">
                    <param id="0" name="Speed">0</param>
                </action>
                <action behavior="Bullet" id="0" name="Set speed" sid="137272766298795" type="nota04">
                    <param id="0" name="Speed">0</param>
                </action>
                <action behavior="Bullet" id="0" name="Set speed" sid="579715022140118" type="nota05">
                    <param id="0" name="Speed">0</param>
                </action>
                <action behavior="Bullet" id="0" name="Set speed" sid="576232243615522" type="nota06">
                    <param id="0" name="Speed">0</param>
                </action>
                <action id="-16" name="Wait" sid="903936710070981" type="System">
                    <param id="0" name="Seconds">2.0</param>
                </action>
                <action id="-21" name="Reset global variables" sid="455564014833333" type="System" />
                <action disabled="1" id="-15" name="Set visible" sid="344114236507595" type="GameOver">
                    <param id="0" name="Visibility">0</param>
                </action>
                <action id="-15" name="Set visible" sid="739642676568922" type="BackgroundGameOver">
                    <param id="0" name="Visibility">0</param>
                </action>
                <action id="-2" name="Go to layout" sid="118584886219062" type="System">
                    <param id="0" name="Layout">StartScreen</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
